@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff; /* Define a single background color */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed; /* Only foreground changes in dark mode */
  }
}

body {
  color: var(--foreground);
  background: #ffffff; /* Override background to stay constant */
  font-family: Arial, Helvetica, sans-serif;
}